.defaultAvatarLarge{
    grid-area: Avatar;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 0px;
}

.circle{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    line-height: 122px;
    color: white;
    font-size: 4rem;
    vertical-align: middle;
    min-height: 126px;
    min-width: 126px;
    max-height: 122px;
    max-width: 122px;
    border: 1px solid rgb(39, 39, 39);
}
.wrapperDiv{
    display: inline;
}

a{
    text-decoration: none;
}
.avatarLarge {
    grid-area: Avatar;
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 100%;
}
.avatarLarge img{
    max-width: 120px;
    max-height: 120px;
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 360px;
    grid-area: Avatar;
    display: inline-block;
    margin-top: 10px;
}


.avatarSmall{
    display: inline;
    vertical-align: middle;
    grid-area: Avatar;
}
.avatarSmall img{
    object-fit:fill;
    border-radius: 360px;
    width: 70px;
    height: 70px;

    grid-area: Avatar;
    display: inline;
}
@media(max-width:407px) {
    .avatarLarge{
        grid-area: Avatar;
        display: inline-block;
        width: 100%;
        text-align: center;
        height: 100%;

    }
    .avatarLarge img{
        
        position: relative;
        max-width: 80%;
        max-height: 80%;
        width: 100%;
        height: auto;
        object-fit:fill;
        border-radius: 100%;
        grid-area: Avatar;
        display: inline-block;
        margin-top: 10px;
    }
}