.userPageContainer {
    background-color: aqua;
}

.userPageWrapper {
    width: 100%;
    max-width: 900px;
    display: grid;
    grid-area: userPageInfo;
    grid-template-columns: 4fr 8fr;
    grid-template-rows: 1.5fr 2fr 1fr;
    grid-gap: 0.5rem;
    grid-template-areas:
        "Avatar name"
        "Avatar info"
        "Avatar Buttons"
    ;
}

.SELECTOR ul {
    padding: 5px 0 5px 0px;
    border-bottom: 1px solid rgb(53, 53, 53);
    width: 100%;
    max-width: 900px;
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
}

.SELECTOR li {
    padding-bottom: 0%;
    margin: 0% 12.5%;
}

.SELECTOR img {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0%;
    display: inline;
}


a {
    text-decoration: none;
}

.info {

    grid-area: info;
    color: black;
    display: grid;
    width: 100%;
    font-weight: 400;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "status status status"
        "P F FL"

}

.status {

    display: grid;
    height: max-content;
    font-size: medium;
    grid-area: status;
    padding: 0%;
    margin: 0%;

}

.fullName {
    height: max-content;
    padding: 0%;
    font-weight: 400;
    margin: 0% 0% 0% 0%;
    grid-area: name;

}



.input:focus {
    border: none;
}

.defaultAvatarLarge span {
    position: relative;
    bottom: -20%;
    left: 25%;
    margin-left: -50%;
    vertical-align: middle;
}



.publications {
    height: max-content;
    text-align: center;
    font-weight: 500;
    font-size: small;
    width: max-content;


    grid-area: P;
}

.Follower {

    text-decoration: none;
    height: max-content;
    text-align: center;
    width: max-content;
    color: black;
    font-weight: 500;
    font-size: small;
    grid-area: F;
}

.Followed {

    height: max-content;
    text-align: center;
    width: max-content;
    color: black;
    font-weight: 500;
    font-size: small;
    grid-area: FL;
}

.contrtolButtons {
    width: 98%;
    grid-area: Buttons;
    /* background-color: #c2e534; */
    text-align: center;
}

.btn {
    width: calc(100% - 20px);
    height: 2rem;
    color: white;
    border: none;
    margin-right: 1px;
    border-radius: 5px;
    background-color: rgb(77, 90, 190);
    /* display: inline; */
    grid-area: Buttons;
}

@media(max-width: 550px) {
    .userPageWrapper {
        transform: translateX(+100%);
        animation: transform 0.7s forwards;
    }

    .SELECTOR {
        transform: translateX(+100%);
        animation: transform 0.7s forwards;
    }

    @keyframes transform {
        0% {
            transform: translateX(+100%);

        }

        100% {
            transform: translateX(0%);
        }
    }

}

@media(max-width:407px) {
    .userPageWrapper {
        display: grid;
        grid-template-columns: 6fr 8fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "Avatar name"
            "Avatar info"
            "Avatar Buttons"
        ;

    }
    .fullName {
        margin-top: 1rem;
        font-size: larger;
        margin-bottom: 0%;
    }

    .status{
        font-size: large;
        margin: 0%;
        padding: 0%;
    }

    .info {


        grid-area: info;
        color: black;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 2rem;
        grid-template-areas:
            "status status status"
            "P F FL"

    }
}